/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ECDFCC;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3C3D37;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3C3D37;
}
